/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */


/* Demo Page styles */
@import 'demo';

body {
    background-color: whitesmoke;
    user-select: none;
}
.container {
    padding-bottom: 20px;
}

#navbar {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    min-width: 500px;
}
#root {
    margin: 0 auto;
    width: 500px;
}
.p {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: rgb(128, 128, 128);
}

.wrapper {
    background-color: rgb(207, 206, 206);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
}

.form-control:focus {
    border-color: darkgray;
    box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}

.form-label {
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(130 138 145 / 50%);
}

////////////////
.line {
    display: flex;
    justify-content: center;
}

.cell {
    margin: 1px;
    height: 50px;
    width: 50px;
    color: rgb(54, 53, 53);
    // padding: 25px 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.r {
    background-color: rgb(241, 4, 64);
    transition: background-color 0.5s;
}
.g {
    background-color: rgb(4, 131, 93);
    transition: background-color 0.5s;
}
.b {
    background-color: rgb(10, 115, 163);
    transition: background-color 0.5s;
}
.y {
    background-color: rgb(231, 228, 51);
    transition: background-color 0.5s;
}
.o {
    background-color: rgb(247, 113, 4);
    transition: background-color 0.5s;
}

.btnWrap {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;

    // margin: 30px 30px;
}

.r-s {
    width: 240px;
}

.level{
    display: block;
}
.box1{
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    color: black;
}

.box2{
    display: flex;
    // flex-direction: row;
    justify-content: center;
}
.levelBtn{
    margin: 5px 10px;
    font-weight: bolder;
    padding: 4px 20px;
}
